<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

</head>
<body>
    <header>

   
        <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
        <a class="nav-link text-dark" asp-controller="Students" asp-action="Index">Students</a>
        <a class="nav-link text-dark" asp-controller="Communities" asp-action="Index">community</a>


    </header>
    <div>
        @RenderBody()
    </div>
    @RenderSection("Scripts", required: false)
    <footer></footer>
</body>
</html>
